/* Color scheme Gray
----------------------------------------------- */
body a,
body .site-title a,
body .post-entry .post-entry-headline a,
body .grid-entry .grid-entry-headline a,
body .sidebar-widget a {
  color: #777777;       
}
body #header .menu-box .current-menu-item > a,
body #header .menu-box .current-menu-ancestor > a,
body #header .menu-box .current_page_item > a,
body #header .menu-box .current-page-ancestor > a,
.home #container #header .menu-box .link-home,
body .post-entry .read-more-button:hover,
body .grid-entry .read-more-button:hover,
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body #searchform .searchform-wrapper .send:hover {
  background-color: #777777;       
}
body .menu-box-wrapper,
body .menu-box ul ul {
  border-color: #777777;       
} 
body .post-entry .read-more-button,
body .grid-entry .read-more-button,
body input[type="submit"],
body input[type="reset"],
body #searchform .searchform-wrapper .send {
  background-color: #9e9e9e;                     
}
body #footer a,
body .footer-signature .footer-signature-content a {
  color: #e3e3e3;                     
}